.scrollbar-custom {
  overflow-y: auto;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #717781;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #35383e;
}
